@import "./index.css";

.App {
  text-align: center;
}

.jump-animation img {
  animation: jump-rotate 0.8s ease-in-out;
}

@keyframes jump-rotate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-60px) rotate(-25deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.hover-effect:hover {
  cursor: pointer;
  animation: jump-rotate 0.8s ease-in-out;
}
